*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* GLOBAL =========================================================================================== */
/* body {
  font-family: 'Muli', sans-serif;
}
*/
.preload * {
  transition: none !important;
}



html { 
  background: url(./Resources/bg1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}
.image img{
  --header-height: 20px;
  margin: var(--header-height) 20px 0 0;
  width: 12vh;
}

.header__button {
  --header-height: 20px;
  margin: var(--header-height) 0 0 20px;
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #6844B4 ;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 3; 
}

.nav__link {
  display: flex;
  align-items: center;
  color: #6844B4;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #4824a4;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  z-index: 2; 

  transition: opacity 0.3s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}


#buttonShort{
  border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 500;
    transition-duration: 0.4s;
    background-color: #6844B4;
    border: #6844B4;
}

#buttonShort:hover {
  background-color: #4824a4;
}

#buttonLong{
  border-radius: 10px;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: 700;
    transition-duration: 0.4s;
    background-color: #6844B4;
    border: #6844B4;
}

#buttonLong:hover {
  background-color: #4824a4;
}

#buttonShortEmergency{
  border-radius: 10px;
    color: #BA0101;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    transition-duration: 0.4s;
    background-color: #FF8888;
    border: #FF8888;
}

#buttonShortEmergency:hover {
  background-color: #FF5A5A;
}


#howTo h2{
  text-align: center;
  padding-top: 20vmin;
}

#icon{
  padding-top: 15vmin;
}

#icon p{
  color: #4824a4;
}

#CTAnow{
  padding-top: 15vmin;
  padding-bottom: 30vmin;
}

#CTAnow h2{
  font-weight: 700;
}

#topTag{
  border-radius: 50px;
    color: #4626A4;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    transition-duration: 0.4s;
    background-color: #FCDA42;
    border: #FCDA42;
    z-index: -1;
}

#judulcorner{
  border-radius: 0px 10px 10px 0px;
  background: #4824a4;
  padding: 20px;
  width: 60vw;
  height: 7vh;
  text-align: center;
}

#judulcorner h3{
  color: #FCDA42;
}
/* HOME ============================================================================================= */
#bodyHome{
  margin-left: 7vw;
  margin-right: 7vw;
}

#bodyHome h1{
  padding-top: 30vmin;

  font-size: 2.2em;
  font-weight: 900;
}

#bodyHome h2{
  padding-top: 30vmin;
}

#bodyHomeFaq{
  margin-top: 15vmin;
  margin-left: 7vw;
  margin-right: 7vw;
}

#bodyHomeFaq h1{
  margin-top: 10vmin;
  font-size: 2.2em;
  font-weight: 900;
}

#bodyHome p{
  padding-top: 2vw;
  font-size: 1em;
  font-weight: 500;
}

#buttonCTA{
  padding-top: 5vh;
}

#ambulance{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80vmin;
}

#ambulance p{
  font-weight: 700;
}

#ambulance a{
  padding-top: 5vmin;
}

#cardIntro{
  margin-left: 7vw;
  margin-right: 7vw;

  padding-top: 30vmin;
}

#cardIntro h1{
  font-size: 2.2em;
  font-weight: 900;
}

#cardContainer{
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#cards{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  border-radius: 10px;
  background: #6844B4;
  width: 86vw;
  height: 220px;  
}

.serviceCards{
  /* background-image: url('./Resources/card.png'); */
  width: 340px;
  height: 200px;
  background-repeat: no-repeat;
}

.serviceCards h1{
  padding: 25px;
  padding-top: 77px;
  color: whitesmoke;
  font-weight: 700;
}

.serviceCards p{
  color: whitesmoke;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}


#cards a{
  text-decoration: none;
  height: 50vmin;
}

#iconContainer{
  margin-left: 7vw;
  margin-right: 7vw;
}

#iconFlex1, #iconFlex2{
  width: 86vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iconFlex1 a, #iconFlex2 a{
  width: 30%;
  height: 30%;
}

#textFlex{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iconFlex p{
  width: 30%;
}

#iconFlex p{
  text-align: center;
}

#buttonLongBottomFixed{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  margin-top: 3vh;
  background-color: white;
  box-shadow: 0px -50px 30px white;
  z-index: 1;

}

#buttonLongBottomFixed .buttonLongFixed{
  background-color: #FF8888;
  font-weight: bold;
  border-color: #FF8888;
  border: 2px solid #FF8888;
  border-radius: 10px;
  color: #BA0101;
  padding: 12px 11vw;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 92%;
  margin-top: -10vh;
  z-index: 1;

}

/* ABOUT US ========================================================================================== */
.cardCarousel{
  margin-left: 7vw;
  margin-right: 7vw;
}
.work .carousel .cardCarousel{
  background: #6844B4;
  border-radius: 10px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}
.work .carousel .cardCarousel:hover{
  background: #6844B4;
}
.work .carousel .cardCarousel .boxCarousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.work .carousel .cardCarousel .boxCarousel p{
  color: white;
}
.work .carousel .cardCarousel:hover .boxCarousel{
  transform: scale(1.05);
}
.work .carousel .cardCarousel .textCarousel{
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.work .carousel .cardCarousel img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}
.work .carousel .cardCarousel:hover img{
  border-color: #fff;
  transition: all 0.3s ease;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid #6844B4!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;   
}
.owl-dot.active,
.owl-dot:hover{
  background: #6844B4!important;
}

/* EMERGENCY ========================================================================================== */

#callEmergency{
  padding-top: 100px;
}

#callEmergency p{
  padding-top: 70px;
}

/* FAQ ============================================================================================= */
#faq .accordion{
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 5vh;
  overflow: hidden;
}
#faq .accordion-item {
  border: none;
}
#faq .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}
#faq h2{
  font-weight: bolder;
  margin-right: 3vw;
}
#faq h6{
  font-weight: bolder;
}
#faq .accordion-button:focus{
  box-shadow: none;
}

#faq .accordion-button:not(.collapsed)::after {
  background-image: url('./Resources/arrowDown.svg');
  transform: rotate(-180deg);
}

#faq .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url('./Resources/arrowUp.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

#faq .accordion-button:not(.collapsed) {
  color: #4824a4;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Term of Service ===================================================================================== */
#bodyTerm h1{
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 2.2em;
}
#bodyTerm p{
  margin-left: 7vw;
  margin-right: 7vw;
}
#bodyTerm h2{
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 1.2em;
}

/* JADI MITRA ========================================================================================== */

#partnerStory{
padding-top: 20vmin;
}








/* RESPONSIVE ========================================================================================== */


/*mobile devices like iphone*/
@media (max-width: 461px) {
  .namaclass {
      right: 5%;
      left: 5%;
  }
}


/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .namaclass {
      right: 35%;
      left: 35%;
  }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:641px) and (max-width:961px) {
  .namaclass {
      top: 25%;
      right: 25%;
      left: 25%;
  }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:962px) and (max-width:1024px) {
  .namaclass {
      right: 30%;
      left: 30%;
  }
}



/* FOOTER ============================================================================================= */
.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.image-footer img{
  margin: 0 0 0 7vw;
  width: 20vh;
}
.footer-col{
   width: 25%;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
  padding-left: 7vw;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 600;
	color: #4626A4;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.image-footer2 {
  display: flex;
  flex-direction: column;
  width: 86vw;
  margin-left: 5vw;
  margin-right: 7vw;
}

.footer-flex{
  display: flex;
  flex-direction: row;
}

.image-footer2 a{
  display: flex;
  flex-direction: column;
}

.copyright{
  font-size: 0.5em;
  margin-left: 7vw;
  color: #6844B4;
  font-weight: 300;
}
.image-footer2 img {
  margin: 0 0 0 2vw;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



